.App {
  display: flex;
}
#root > div > div.aside > div > div > div > div {
  position: static;
}
.aside {
  display: flex;
  position: static;
}
.header-body-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Header:first-child {
  height: 176px;
}
.TaskList01 {
  display: flex;
  width: 100%;
}
#root > div > div.header-body-flex.Header > div.TaskList01 > div {
  box-shadow: 0 0 0 -0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%),
    0 0 0 0 rgb(0 0 0 / 12%);
  margin: 10px auto;
}
